* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #19191A;
  color: #ffffff;
}

body {
  font-family: 'Orbitron', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Для красивого скроллбара */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #19191A;
}

::-webkit-scrollbar-thumb {
  background: #f06acd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8de0;
}
